<div class="container">
  <h3 class="text-warning py-3">Đăng ký tài khoản</h3>
  <div class="row mt-3">
    <div class="col-md-12">
      <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
        <div class="form-group">
          <label for="">Tài khoản</label>
          <input
            type="text"
            class="form-control"
            name="taiKhoan"
            ngModel
            required
            #TaiKhoan="ngModel"
            minlength="7"
            maxlength="15"
          />
          <div
            class="alert alert-danger"
            *ngIf="TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)"
          >
            <!-- Kiểm tra rỗng  -->
            <div *ngIf="TaiKhoan.errors.required">
              Tài khoản không được trống
            </div>

            <!-- Kiểm tra độ dài ký tư  -->
            <div *ngIf="TaiKhoan.errors.minlength || TaiKhoan.errors.maxlength">
              Tài khoản phải từ 7-15 ký tự
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Mật khẩu</label>
          <input
            type="password"
            class="form-control"
            name="matKhau"
            ngModel
            required
            #MatKhau="ngModel"
            minlength="6"
            maxlength="8"
          />
          <div
            class="alert alert-danger"
            *ngIf="MatKhau.errors && (MatKhau.dirty || MatKhau.touched)"
          >
            <!-- Kiểm tra rỗng  -->
            <div *ngIf="MatKhau.errors.required">Mật khẩu không được trống</div>

            <!-- Kiểm tra độ dài ký tư  -->
            <div *ngIf="MatKhau.errors.minlength || MatKhau.errors.maxlength">
              Mật khẩu phải từ 6-8 ký tự
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Họ tên</label>
          <input
            type="text"
            class="form-control"
            name="hoTen"
            ngModel
            required
            #HoTen="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="HoTen.errors && (HoTen.dirty || HoTen.touched)"
          >
            <!-- Kiểm tra rỗng  -->
            <div *ngIf="HoTen.errors.required">Họ tên không được trống</div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Số điện thoại</label>
          <input
            type="text"
            class="form-control"
            name="soDT"
            ngModel
            required
            #SoDT="ngModel"
          />
          <div
            class="alert alert-danger"
            *ngIf="SoDT.errors && (SoDT.dirty || SoDT.touched)"
          >
            <!-- Kiểm tra rỗng  -->
            <div *ngIf="SoDT.errors.required">
              Số điện thoại không được trống
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            ngModel
            required
            #Email="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />
          <div
            class="alert alert-danger"
            *ngIf="Email.errors && (Email.dirty || Email.touched)"
          >
            <!-- Kiểm tra rỗng  -->
            <div *ngIf="Email.errors.required">Email không được trống</div>
            <div *ngIf="Email.errors.pattern">Email không đúng định dạng</div>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!registerForm.valid"
        >
          Đăng ký
        </button>
      </form>
    </div>
  </div>
</div>
