<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
        <div class="form-group">
          <label for="">Tai Khoan</label>
          <input
            type="text"
            class="form-control"
            name="taiKhoan"
            ngModel
            required
            #TaiKhoan="ngModel"
            minlength="7"
            maxlength="15"
          />
          <div
            class="alert alert-danger"
            *ngIf="TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)"
          >
            <!-- Kiểm tra rỗng  -->
            <div *ngIf="TaiKhoan.errors.required">Tai khoan k dc rong</div>

            <!-- Kiểm tra độ dài ký tư  -->
            <div *ngIf="TaiKhoan.errors.minlength || TaiKhoan.errors.maxlength">
              Tai khoan phai tu 7-15 ky tu
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Mat khau</label>
          <input type="text" class="form-control" name="matKhau" ngModel />
        </div>
        <div class="form-group">
          <label for="">Ho Ten</label>
          <input type="text" class="form-control" name="hoTen" ngModel />
        </div>
        <div class="form-group">
          <label for="">So DT</label>
          <input type="text" class="form-control" name="soDT" ngModel />
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            ngModel
            required
            #Email="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          />
          <div
            class="alert alert-danger"
            *ngIf="Email.errors && (Email.dirty || Email.touched)"
          >
            <!-- Kiểm tra rỗng  -->
            <div *ngIf="Email.errors.required">Email k dc rong</div>
            <div *ngIf="Email.errors.pattern">Email k dung dinh dang</div>
          </div>
        </div>
        <button class="btn btn-success" [disabled]="!registerForm.valid">
          Register
        </button>
      </form>
    </div>
  </div>
</div>
