<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
        <label for="">Tai Khoan</label>
        <input
          type="text"
          class="form-control"
          name="taiKhoan"
          ngModel
          required
          #TaiKhoan="ngModel"
        />
        <div
          class="alert alert-danger"
          *ngIf="TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)"
        >
          <!-- Kiểm tra rỗng  -->
          <div *ngIf="TaiKhoan.errors.required">Tai khoan k dc rong</div>
        </div>
        <div class="form-group">
          <label for="">Mat khau</label>
          <input type="text" class="form-control" name="matKhau" ngModel />
        </div>
        <button class="btn btn-success" [disabled]="!loginForm.valid">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
<form></form>
