.card__wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgb(0, 0, 0, 0.5), transparent 100%);
  .overlay__top {
    height: 85%;
    width: 100%;
  }
  .overlay__btm {
    height: 15%;
    width: 100%;
  }
  opacity: 0;
  visibility: hidden;
}
.card__wrapper:hover {
  .overlay {
    opacity: 1;
    visibility: visible;
  }
  animation: TopToBotAndReturn 1s;
}

.card {
  height: 100%;
  .card-img-top {
    min-height: 75%;
    image {
      object-fit: contain;
    }
  }
}

@keyframes TopToBotAndReturn {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4%);
  }
  100% {
    transform: translateY(0);
  }
}
