<div class="card__wrapper mt-3">
  <div class="overlay">
    <div class="overlay__top"></div>
    <div class="overlay__btm d-flex align-item-end">
      <a
        routerLink="/detail/{{ course.maKhoaHoc }}"
        class="btn btn-success w-50 my-auto py-3"
        [queryParams]="{ tenKhoaHoc: course.tenKhoaHoc, biDanh: course.biDanh }"
        >CHI TIẾT</a
      >
      <button
        class="btn btn-danger w-50"
        data-toggle="modal"
        data-target="#modelId"
        (click)="xemNhanh()"
      >
        XEM NHANH
      </button>
    </div>
  </div>
  <div class="card rounded border">
    <img class="card-img-top border-bottom" [src]="course.hinhAnh" alt="" />
    <div class="card-body">
      <h4 class="card-title">{{ course.tenKhoaHoc }}</h4>
    </div>
  </div>
</div>
