<div class="card">
  <img class="card-img-top" [src]="course.hinhAnh" alt="" />
  <div class="card-body">
    <h4 class="card-title">{{ course.tenKhoaHoc }}</h4>
    <!-- Truyền 1 param -->
    <!-- <a routerLink="/detail/{{ course.maKhoaHoc }}" class="btn btn-success"
      >Detail</a
    > -->

    <!-- Truyền nhiều param -->
    <a
      routerLink="/detail/{{ course.maKhoaHoc }}"
      class="btn btn-success"
      [queryParams]="{ tenKhoaHoc: course.tenKhoaHoc, biDanh: course.biDanh }"
      >Detail</a
    >
    <button
      class="btn btn-danger"
      data-toggle="modal"
      data-target="#modelId"
      (click)="xemNhanh()"
    >
      Xem nhanh
    </button>
  </div>
</div>
