<footer id="contact">
  <ul>
    <div id="icon-container">
      <a href="#">
        <div id="icon">
          <li><i class="fab fa-twitter"></i></li>
        </div>
      </a>
      <a href="#">
        <div id="icon">
          <li><i class="fab fa-instagram"></i></li>
        </div>
      </a>
      <a href="#">
        <div id="icon">
          <li><i class="fab fa-facebook-f"></i></li>
        </div>
      </a>
      <a href="#">
        <div id="icon">
          <li><i class="far fa-envelope"></i></li>
        </div>
      </a>
      <a href="#">
        <div id="icon">
          <li><i class="fab fa-free-code-camp"></i></li></div
      ></a>
    </div>
  </ul>
  <p>&copy 2020-2021, New Future E-Learning</p>
</footer>
