<!-- Modal -->
<div
  class="modal fade"
  id="suaKhoaHoc"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cập nhật Khoá Học</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          #editCourseForm="ngForm"
          (ngSubmit)="
            editCourse(editCourseForm.value); editCourseForm.resetForm()
          "
          class="form-row"
        >
          <div class="form-group col-6">
            <label for="">Mã Khoá Học</label>
            <input
              type="text"
              class="form-control"
              name="maKhoaHoc"
              [ngModel]="selectedCourse?.maKhoaHoc"
              required
              #MaKhoaHoc="ngModel"
              readonly
            />
            <div
              class="alert alert-danger"
              *ngIf="MaKhoaHoc.errors && (MaKhoaHoc.dirty || MaKhoaHoc.touched)"
            >
              <!-- Kiểm tra rỗng  -->
              <div *ngIf="MaKhoaHoc.errors.required">
                Vui lòng nhập mã khoá học
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label for="">Tên Khoá Học</label>
            <input
              type="text"
              class="form-control"
              name="tenKhoaHoc"
              [ngModel]="selectedCourse?.tenKhoaHoc"
              #TenKhoaHoc="ngModel"
              required
            />
            <div
              class="alert alert-danger"
              *ngIf="
                TenKhoaHoc.errors && (TenKhoaHoc.dirty || TenKhoaHoc.touched)
              "
            >
              <!-- Kiểm tra rỗng  -->
              <div *ngIf="TenKhoaHoc.errors.required">
                Vui lòng nhập tên khoá học
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label for="">Đánh Giá</label>
            <input
              type="number"
              class="form-control"
              name="danhGia"
              [ngModel]="selectedCourse?.danhGia"
              #DanhGia="ngModel"
            />
            <div
              class="alert alert-danger"
              *ngIf="DanhGia.errors && (DanhGia.dirty || DanhGia.touched)"
            >
              <div *ngIf="DanhGia.errors.required">Vui lòng nhập đánh giá</div>
            </div>
          </div>
          <div class="form-group col-6">
            <label for="">Lượt xem</label>
            <input
              type="number"
              class="form-control"
              name="luotXem"
              [ngModel]="selectedCourse?.luotXem"
              #LuotXem="ngModel"
            />
            <div
              class="alert alert-danger"
              *ngIf="LuotXem.errors && (LuotXem.dirty || LuotXem.touched)"
            >
              <div *ngIf="LuotXem.errors.required">Vui lòng nhập lượt xem</div>
            </div>
          </div>
          <div class="form-group col-6">
            <label for="">Danh mục khoá học</label>
            <select
              class="form-control"
              name="maDanhMucKhoaHoc"
              [ngModel]="selectedCourse?.danhMucKhoaHoc.maDanhMucKhoahoc"
              #MaDanhMucKhoaHoc="ngModel"
              required
            >
              <ng-container *ngIf="courseCategory">
                <option
                  *ngFor="let item of courseCategory"
                  value="{{ item.maDanhMuc }}"
                >
                  {{ item.tenDanhMuc }}
                </option>
              </ng-container>
            </select>
            <div
              class="alert alert-danger"
              *ngIf="
                MaDanhMucKhoaHoc.errors &&
                (MaDanhMucKhoaHoc.dirty || MaDanhMucKhoaHoc.touched)
              "
            >
              <!-- Kiểm tra rỗng  -->
              <div *ngIf="MaDanhMucKhoaHoc.errors.required">
                Vui lòng chọn danh mục khoá học
              </div>
            </div>
          </div>

          <div class="form-group col-6">
            <label for="">Người tạo</label>
            <select
              class="form-control"
              name="taiKhoanNguoiTao"
              [ngModel]="selectedCourse?.nguoiTao.taiKhoan"
              #TaiKhoanNguoiTao="ngModel"
              required
            >
              <ng-container *ngIf="courseCreator">
                <ng-container *ngFor="let user of courseCreator">
                  <option
                    *ngIf="user.maLoaiNguoiDung == 'GV'"
                    value="{{ user.taiKhoan }}"
                  >
                    {{ user.hoTen }}
                  </option>
                </ng-container>
              </ng-container>
            </select>
            <div
              class="alert alert-danger"
              *ngIf="
                TaiKhoanNguoiTao.errors &&
                (TaiKhoanNguoiTao.dirty || TaiKhoanNguoiTao.touched)
              "
            >
              <!-- Kiểm tra rỗng  -->
              <div *ngIf="TaiKhoanNguoiTao.errors.required">
                Vui lòng chọn người tạo
              </div>
            </div>
          </div>

          <div class="form-group col-6">
            <label for="">Ngày tạo</label>
            <input
              type="date"
              class="form-control"
              name="ngayTao"
              [ngModel]="selectedCourse?.ngayTao"
              #NgayTao="ngModel"
              required
            />
            <div
              class="alert alert-danger"
              *ngIf="NgayTao.errors && (NgayTao.dirty || NgayTao.touched)"
            >
              <div *ngIf="NgayTao.errors.required">Vui lòng nhập ngày tạo</div>
            </div>
          </div>

          <div class="form-group col-6">
            <label for="">Hình Ảnh</label>
            <input
              type="file"
              name="hinhAnh"
              (change)="fileChange($event)"
              required
              ngModel
              accept="image/jpeg, image/png, image/jpg"
            />
          </div>

          <div class="form-group col-12">
            <label for="">Mô tả</label>
            <textarea
              type="text"
              class="form-control"
              name="moTa"
              [ngModel]="selectedCourse?.moTa"
              #MoTa="ngModel"
              required
            ></textarea>
            <div
              class="alert alert-danger"
              *ngIf="MoTa.errors && (MoTa.dirty || MoTa.touched)"
            >
              <div *ngIf="MoTa.errors.required">Vui lòng nhập mô tả</div>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!editCourseForm.valid"
          >
            Cập nhật khoá học
          </button>
          <button
            type="submit"
            class="btn btn-secondary ml-2"
            data-dismiss="modal"
          >
            Đóng
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
