<div class="container">
  <h3 class="text-warning py-3">Đăng nhập</h3>
  <div class="row">
    <div class="col-md-6">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-group">
          <label for="">Tài khoản</label>
          <input type="text" name="taiKhoan" class="form-control" ngModel />
        </div>
        <div class="form-group">
          <label for="">Mật khẩu</label>
          <input type="password" name="matKhau" class="form-control" ngModel />
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-success" type="submit">Đăng nhập</button>
          <button
            class="btn btn-warning"
            [routerLink]="'/register'"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Chưa có tài khoản"
          >
            Đăng ký
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
