<div class="home__header">
  <div class="container py-2">
    <nav class="navbar navbar-expand-lg text-warning">
      <a
        class="navbar-brand text-warning"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        routerLink="/"
        >ELearning</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a
              class="nav-link text-warning dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
            >
              Danh mục khoá học
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ng-container *ngFor="let course of courseMenu">
                <a
                  class="dropdown-item"
                  href="/list-course/{{ course.maDanhMuc }}"
                  >{{ course.maDanhMuc }}</a
                >
                <div class="dropdown-divider"></div>
              </ng-container>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2 text-dark"
            type="search"
            placeholder="Tìm khoá học"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-warning mr-2 my-2 my-sm-0"
            type="submit"
          >
            Search
          </button>
        </form>
        <div>
          <button
            class="btn btn-outline-warning mr-2 my-2 my-sm-0"
            [routerLink]="'/register'"
          >
            Đăng ký
          </button>
          <button
            class="btn btn-outline-warning mr-2 my-2 my-sm-0"
            [routerLink]="'/login'"
          >
            Đăng nhập
          </button>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="blank_header"></div>
