.home__header {
  background: #1f2022;
  width: 100%;
  height: 76px;
  position: fixed;
  z-index: 999;
}
.blank_header {
  background: white;
  width: 100%;
  height: 76px;
}
#navbarDropdown:hover {
  cursor: pointer;
}
