<!-- Modal -->
<div
  class="modal fade"
  id="ghiDanh1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ghi danh khoá học</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          #closeModal
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          #registerCourseForm="ngForm"
          (ngSubmit)="
            registerCourse(registerCourseForm.value);
            registerCourseForm.resetForm()
          "
          class="form-row"
        >
          <div class="form-group col-10">
            <select
              class="form-control"
              name="maKhoaHoc"
              ngModel
              #MaKhoaHoc="ngModel"
              required
            >
              <ng-container *ngIf="unregisterCourseList">
                <option
                  *ngFor="let item of unregisterCourseList"
                  value="{{ item.maKhoaHoc }}"
                >
                  {{ item.tenKhoaHoc }}
                </option>
              </ng-container>
            </select>
            <div
              class="alert alert-danger"
              *ngIf="MaKhoaHoc.errors && (MaKhoaHoc.dirty || MaKhoaHoc.touched)"
            >
              <!-- Kiểm tra rỗng  -->
              <div *ngIf="MaKhoaHoc.errors.required">
                Vui lòng chọn khoá học
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-success col-2 h-75"
            [disabled]="!registerCourseForm.valid"
          >
            Ghi danh
          </button>
        </form>
        <hr />
        <ng-container *ngIf="waitingApprovalCourseList.length !== 0">
          <div class="text-danger">Khoá học chờ xác thực</div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên Khoá Học</th>
                <th scope="col">Chờ xác nhận</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let course of waitingApprovalCourseList;
                  let stt = index
                "
              >
                <th scope="row">{{ stt + 1 }}</th>
                <td>{{ course.tenKhoaHoc }}</td>

                <td>
                  <button
                    mat-button
                    color="primary"
                    (click)="approveCourse(course.maKhoaHoc)"
                  >
                    Xác thực
                  </button>
                  <button
                    mat-button
                    color="accent"
                    (click)="unApproveCourse(course.maKhoaHoc)"
                  >
                    Huỷ
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <hr />
        </ng-container>
        <ng-container *ngIf="approvedUserList.length !== 0">
          <div class="text-danger">Khoá Học Đã Ghi Danh</div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên Khoá Học</th>
                <th scope="col">Chờ xác nhận</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of approvedUserList; let stt = index">
                <th scope="row">{{ stt + 1 }}</th>
                <td>{{ course.tenKhoaHoc }}</td>
                <td>
                  <button
                    mat-button
                    color="accent"
                    (click)="unApproveCourse(course.maKhoaHoc)"
                  >
                    Huỷ
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <hr />
        </ng-container>
      </div>
    </div>
  </div>
</div>
